NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://kolekto:kolekto_password@postgres:5432/kolekto_db?schema=public
JWT_SECRET=change_me
JWT_EXPIRES_IN=3m
APP_FRONTEND_URL=http://localhost:3002
BILLING_EOD_CRON=55 23 * * *
INVOICE_REMINDER_CRON=0 8 * * *
OWNER_TRIAL_DAYS=14
SUPER_ADMIN_EMAIL=admin@kolekto.local
SUPER_ADMIN_PASSWORD=GantiPasswordKuat123!
SUPER_ADMIN_NAME=Super Admin

POSTGRES_DB=kolekto_db
POSTGRES_USER=kolekto
POSTGRES_PASSWORD=kolekto_password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

QUEUE_PREFIX=kolekto
QUEUE_REMOVE_ON_COMPLETE=100
QUEUE_REMOVE_ON_FAIL=500
LOG_DIR=logs
LOG_RETENTION_DAYS=14

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=kolekto
MINIO_SECRET_KEY=change_this_minio_password
MINIO_BUCKET=kolekto-uploads
MINIO_USE_SSL=false
MINIO_REGION=us-east-1
MINIO_PUBLIC_URL=http://localhost:9000

UPLOAD_MAX_SIZE_MB=5
UPLOAD_MAX_PROOF_FILES=5

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=isi_smtp_login_dari_brevo
SMTP_PASS=isi_smtp_key_dari_brevo
SMTP_FROM="Kolekto <noreply@kolekto.anwarudin.web.id>"
